[submodule "cv_camera"]
	path = perception/src/cv_camera
	url = https://github.com/OTL/cv_camera
[submodule "usb_cam"]
	path = perception/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam
[submodule "vision_opencv"]
	path = perception/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv
