<?xml version="1.0" ?>
<launch>
    <!--urdf xml robot description loaded on parameter server-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find simulation)/urdf/hermes.xacro'" />
    <!-- launch robot state publisher-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- launch rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="" />
    <!-- launch joint state publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false" />
    </node>
</launch>
