<?xml version="1.0" ?>
<launch>
      <!--urdf xml robot description loaded on parameter server-->
      <param name="robot_description" textfile="$(find simulation)/urdf/hermes.xacro" />

      <!-- launch robot state publisher-->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

      <!-- launch rviz-->
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation)/rviz/simulation.rviz" />

      <!-- start an empty world simulation-->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find simulation)/world/maze.world" />
      </include>

      <!-- run a python script to send a service call to gazebo ros to spawn a urdf robot-->
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model hermes -param robot_description" />

      <!-- launch joint state publisher -->
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="false" />
      </node>
</launch>