<?xml version="1.0"?>
<robot name="mando_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="base_link">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="castor_wheel_box">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="castor_wheel_box_front">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="castor_cylinder">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="castor_cylinder_front">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="camera">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="Lidar">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="left_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
		<kp value="1.0" />	
		<kd value="1.0" />
    	<fdir1 value="1 0 0"/>
    </gazebo>    
    <gazebo reference="right_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
		<kp value="1.0" />	
		<kd value="1.0" />
    	<fdir1 value="1 0 0"/>
    </gazebo>   
 </robot>