<?xml version="1.0"?>
<!-- The launch file for launching rviz, robot state publisher and joint state publisher -->

<launch>
    <!-- Vehicle pose -->
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.5" />
    <arg name="roll" default="0.0" />
    <arg name="pitch" default="0.0" />
    <arg name="yaw" default="0" />
    
    <!-- Loading the bot on parameter server-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mando_description)/urdf/mando.xacro" />
    
    <!-- Publishing the joint values for non fixed joints-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false" />
    </node>
    
    <!-- Needed for Rviz-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <!-- Launching the Rviz node-->
    <node name="rviz" pkg="rviz" type="rviz" args="" />
</launch>